.card_text-fade-away {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 11.2rem;
    bottom: 2rem;
    left: 0rem;
    background: linear-gradient(180deg, rgba(225, 233, 244, 0) 0%, rgba(255, 255, 255, 0.0625) 0%, #E1E9F4 50%);
    
}

.card_expand-icon {
    bottom: 2.5rem;
    position: absolute;
    background: url(/assets/bi_chevron-bar-expand.svg);
    height: 1.7rem;
    width: 1.7rem;
}

.card_bottom-section {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 2rem;
    bottom: 0rem;
    left: 0rem;
    background: #E1E9F4;
}

.card_bottom-section * {
    margin: 0 1.5rem;
}