.gridContainer {
    justify-items: center;
    max-width: 90rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.card {
    max-width: 33rem;
    margin: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    height: 43rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.red {
    background: var(--red);
    color: #693737;
}

.green {
   background: var(--green); 
   color: 104416;
}

.blue {
    background: var(--blue);
    color: rgb(55, 76, 105);
}

.card_image {
    height: 15.1rem;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1603194477931-31739b04367d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.card_main-content {
    /* height: 100%; */
    position: relative;
}

