.card_top-section {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .7rem;
}


.card_top-text {
    display: flex;
    align-items: center;
}

.card_top-text p {
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.075em;
}

.card_top-icons {
    display: flex;
    align-items: center;
}

.card_top-icons p {
    width: 3rem;
    margin: 0;
    text-align: end;
    /* width: .1rem; */
    height: 1rem;
    line-height:1rem;
}

.icon1 {
    background: url(/assets/ant-design_heart-outlined.png);
}

.icon2 {
    background: url(/assets/Vector.png);
}

.card_top-icons * {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 .3rem;
    
}