/* Affecting root/body/html */
:root {
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: unset;
    display: flex;
    justify-content: center;
}